{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'pedido/dependencia/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Id</th>
    <th>Denominacion</th>
    <th>Denom. Corta</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.denominacion }}</td>
            <td>{{ i.denom_corta }}</td>
            <td>
                <a href="{% url 'dependencia_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                    class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'dependencia_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
                    class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}